@model DongHoCasio.Model.LoaiSanPham

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage1.cshtml";
}

<h3>Chi Tiết Dòng Sản Phẩm</h3>

<div>
 
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Mã Loại
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaLoai)
        </dd>
        <dt>
           Tình Trạng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TinhTrang)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.MaLoai }, htmlAttributes: new { @class = "btn-wide btn btn-success btn-sm" })  
    <br> <br>
    @Html.ActionLink("Trở về", "Index")
</p>
