@using DongHoCasio.Model;
@{
    ViewBag.Title = "SanPhamBanChay";
    List<SanPham> listTrangSanPhamMoi = ViewBag.TrangSanPhamBanChay;
}

<div class="top-brands">
    <div class="container">
        <h3>Sản Phẩm bán chạy</h3>
        <div class="agile_top_brands_grids">

            @foreach (var item in listTrangSanPhamMoi)
            {
                <div class="col-md-3 top_brand_left">
                    <div class="hover14 column">
                        <div class="agile_top_brand_left_grid">
                            <div class="tag"><img src="/Content/images/tag.png" alt=" " class="img-responsive" /></div>
                            <div class="agile_top_brand_left_grid1">
                                <figure>
                                    <div class="snipcart-item block">
                                        <div class="snipcart-thumb">
                                            <a href="@Url.Action("Details", "Home", new { id = item.MaSP})"><img title=" " alt="Chưa tải được sách " src="@Url.Content(item.Hinh)" class="img-responsive" /></a>


                                            <p>@item.MaSP</p>
                                            <h4>@item.Gia</h4>
                                        </div>
                                        <div class="snipcart-details top_brand_home_details">
                                            <form action="/them-gio-hang?maSP=@Model.MaSP&soLuong=1" method="post">
                                                <fieldset>
                                                    <input type="submit" name="submit" value="Thêm vào giỏ" class="button" />
                                                </fieldset>

                                            </form>

                                        </div>
                                    </div>
                                </figure>
                            </div>
                        </div>
                    </div>

                </div>

            }


            <div class="clearfix"> </div>
        </div>
    </div>
</div>

