@model DongHoCasio.Model.LoaiSanPham

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage1.cshtml";
}


<h3>Bạn muốn xóa dòng sản phẩm này ? </h3>

<div>

    <hr />
    <dl class="dl-horizontal">

        <dt>
            Mã Loại
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaLoai)
        </dd>
        <dt>
            Tình Trạng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TinhTrang)
        </dd>

    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">

            <input type="submit" value="Xóa" class="btn badge-danger" /> 
            <br><br>
            @Html.ActionLink("Trở về", "Index")
        </div>
    }

</div>
