!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/Bootstrap/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Bootstrap/fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/Bootstrap/vendor/animate/animate.css" rel="stylesheet" />
    <link href="~/Content/Bootstrap/vendor/select2/select2.min.css" rel="stylesheet" />
    <link href="~/Content/Bootstrap/css/util.css" rel="stylesheet" />
    <link href="/Content/css/font-awesome.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/Bootstrap/css/main.css" rel="stylesheet" />
</head>
<body>
    <div>
        @RenderBody()
    </div>

    <script src="~/Content/Bootstrap/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="~/Content/Bootstrap/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Content/Bootstrap/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/Bootstrap/vendor/select2/select2.min.js"></script>
</body>
</html>
